
$font-header: 'Bree Serif', serif;
$font-text: 'Courgette', cursive;

div{
margin-left: 400px;
}
}

h1 {

    margin-top: 240px;
    font-family: $font-header;
    font-size: 36px;
}
h2 {
    margin-left: 400px;
    margin-top: 10px;
    font-family: $font-text;
    font-size: 24px
    
}
p {
    margin-left: 240px;
    font-size: 18px;
}